@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 88%;

    --card: 0 0% 7%;
    --card-foreground: 0 0% 88%;

    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 88%;

    --primary: 308 79% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 11%;
    --secondary-foreground: 0 0% 88%;

    --muted: 0 0% 17%;
    --muted-foreground: 0 0% 58%;

    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 88%;

    --destructive: 349 52% 61%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 23%;
    --input: 0 0% 23%;
    --ring: 308 79% 51%;

    --radius: 1.71rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

/******************************************* 
  Rich Text Styles
*******************************************/

/* Headers */
.richtext h1 {
  @apply mb-4 text-4xl font-bold text-foreground;
}

.richtext h2 {
  @apply mb-4 text-3xl font-bold text-foreground;
}

.richtext h3 {
  @apply mb-4 text-2xl font-bold text-foreground;
}

.richtext h4 {
  @apply mb-4 text-xl font-bold text-foreground;
}

.richtext h5 {
  @apply mb-4 text-lg font-bold text-foreground;
}

.richtext h6 {
  @apply mb-4 text-base font-bold text-foreground;
}

/* Horizontal rules */
.richtext hr {
  @apply my-8 border-accent-foreground;
}

.richtext a {
  @apply text-foreground underline;
}

/* Typographic replacements */
.richtext p {
  @apply mb-4 text-lg text-muted-foreground;
}

/* Emphasis */
.richtext strong {
  @apply font-bold text-gray-300;
}

.richtext em {
  @apply italic;
}

.richtext del {
  @apply line-through;
}

/* Blockquotes */
.richtext blockquote {
  @apply mb-4 border-l-4 border-accent-foreground py-2 pl-4;
}

/* Lists */
.richtext ul {
  @apply mb-4 list-disc pl-4;
}

.richtext ol {
  @apply mb-4 list-decimal pl-4;
}

.richtext li {
  @apply mb-2 text-muted-foreground;
}

.richtext li > ul {
  @apply mb-2 list-disc pl-4;
}

.richtext li > ol {
  @apply mb-2 list-decimal pl-4 text-muted-foreground;
}

/* Code blocks */
.richtext pre {
  @apply my-6 overflow-scroll rounded bg-gray-900 p-4 font-mono text-gray-200;
}

.richtext code {
  @apply rounded bg-gray-900 px-2 py-1 font-mono text-gray-200;
}

/* Tables */
.richtext table {
  @apply my-6 w-full border-collapse border-gray-300;
}

.richtext th {
  @apply border-b border-gray-300 bg-gray-900 px-4 py-2 text-left font-semibold;
}

.richtext td {
  @apply border-b border-gray-300 px-4 py-2;
}

/* Images */
.richtext img {
  @apply my-6 w-full rounded-xl object-cover;
}

/* Custom containers */
.richtext .warning {
  @apply mb-4 rounded-lg border-yellow-500 bg-yellow-100 px-4 py-2 text-yellow-700;
}
